.note-wrapper {
  padding: 10px;
  border-bottom: solid 1px #c3c2c4;
}

.note:hover {
  background-color: #483c54;
  color: white;
  cursor: pointer;
}

.active {
  background-color: #483c54;
  color: white;
}
