body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

#content {
  height: 100%;
}

.formatted-date {
  font-size: 0.9rem;
  color: #757474;
}
